.header {
  padding: 40rem 0 23rem;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include desctop-small {
    padding: 40rem 0 66rem;
  }
}
.nav {
  flex-grow: 1;
  @include tablet {
    flex-grow: 0;
    z-index: 10;
  }
  &__list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24rem;
    transition: $transition;
    @include tablet {
      position: fixed;
      padding: 0 20rem;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      z-index: 10;
      background: $bg;
      left: 0;
      top: 0;
      gap: 1rem;
      transform: translateY(-100vh);
      &--open {
        transform: translateY(0);
      }
    }
  }
  &__list-link {
    @include text($ff, 400, 18rem, 25rem, $text);
    position: relative;
    transition: $transition;
    &--active {
      color: $bg-btn;
      font-weight: 600;
    }
    &:hover {
      color: $white;
    }
  }
  &__list-item {
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      flex: 1;
      border-bottom: 1rem solid $white;
      &:last-child {
        border-bottom: none;
      }
    }
    &:first-child,
    &:last-of-type {
      margin-left: auto;
      @include tablet {
        margin-left: initial;
      }
    }
  }
  &__burger {
    display: none;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 15;
    width: 16rem;
    height: 12rem;
    cursor: pointer;
    @include tablet {
      display: flex;
    }
    span {
      height: 2rem;
      width: 10rem;
      border-radius: 2rem;
      transform: scale(1);
      background-color: $white;
      transition: $transition;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2rem;
      border-radius: 2rem;
      background-color: $white;
      transition: $transition;
    }
    &::before {
      top: 0;
      width: 16rem;
    }
    &::after {
      bottom: 0;
      width: 6rem;
    }
    &--open span {
      transform: scale(0);
    }
    &--open::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &--open::after {
      width: 16rem;
      bottom: 50%;
      transform: rotate(45deg) translate(1rem, 50%);
    }
  }
}

